body {
  background-color: #000f17;
  color: #FFF;
  margin: 0;
  font-family: 'Roboto Mono', monospace;
}

#index__container {
  height: calc(100vh - 40px);
  margin: 0 20px;
}

ul {
  list-style-type: square;
}

li {
  margin: 5px 0;
}

#project-list {
  padding: 0;
}

.take-home__title {
  list-style-type: none;
  margin: 15px 0 5px 0;
  font-size: 18px;
}

.project-month {
  font-size: 20px;
  font-weight: 600;
  list-style-type: none;
}

a {
  color: #FFF;
  display: block;
}

a:hover {
  margin-left: 2px;
  font-weight: 600;
}
