body {
  background-color: #000f17;
  color: #FFF;
  margin: 0;
  font-family: 'Roboto Mono', monospace;
}

ul {
  list-style-type:;
}

a {
  color: #FFF;
  display: block;
}

a:hover {
  margin-left: 2px;
  font-weight: 600;
}
